apiVersion: v1
kind: Service
metadata:
  name: fleet-frontend
  namespace: fleet-management
  labels:
    app: fleet-frontend
    service: fleet-frontend
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: fleet-frontend

